@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
section#preheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(180deg, #08101D, #09111F);
  height: 100px;
  width: 100%;
  padding: 24px 387px;
}
section#preheader a.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 22.5455px;
  line-height: 31px;
  height: 57px;
  width: 283px;
}
section#preheader a.icon p {
  color: #3A68B8;
}
section#preheader .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 441px;
  height: 22px;
}
section#preheader .menu a {
  color: white;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}
section#preheader .menu a:hover {
  text-decoration: underline;
}
section#preheader button {
  background-color: #3A68B8;
  width: 112px;
  height: 52px;
  border-radius: 5px;
  font-size: 16px;
  line-height: 22px;
}
section#preheader button:hover {
  background-color: #5090FF;
}

section#started {
  width: 100%;
  height: 930px;
  background: linear-gradient(180deg, #08101D, #09111F);
  padding: 49px 183px 99px 388px;
}
section#started .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
}
section#started .container .group_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
section#started .container .group_1 .Artificial_int {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  width: 604px;
  height: 415px;
}
section#started .container .group_1 .Artificial_int .text {
  width: 100%;
  height: 308px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
section#started .container .group_1 .Artificial_int .text .p1 {
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
  color: #3A68B8;
}
section#started .container .group_1 .Artificial_int .text .p2 {
  font-style: normal;
  font-weight: 800;
  font-size: 55px;
  line-height: 130%;
}
section#started .container .group_1 .Artificial_int .text .p3 {
  font-style: normal;
  font-size: 18px;
  line-height: 160%;
  color: #B5B7BB;
}
section#started .container .group_1 .Artificial_int .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 408px;
  height: 57px;
}
section#started .container .group_1 .Artificial_int .buttons button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 57px;
  background-color: #3A68B8;
  border-radius: 5px;
  padding: 15px 30px;
  font-size: 20px;
  line-height: 27px;
}
section#started .container .group_1 .Artificial_int .buttons button:hover {
  background-color: #5090FF;
}
section#started .container .group_1 .Artificial_int .buttons .b1 {
  width: 171px;
}
section#started .container .group_1 .Artificial_int .buttons .b2 {
  width: 217px;
}
section#started .container .group_1 .rocket {
  width: 632px;
  height: 634px;
}
section#started .container .group_2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1146px;
  height: 59px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  color: white;
  font-family: "Open Sans";
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

/*# sourceMappingURL=index.css.map */
